.contents {
    background-color: rgba(27, 27, 27, 0.89);
}

.Tool-Group {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    border-width: 10px;
    border-radius: 900em 900em 900em 900em;
    border: 3px solid rgb(5, 37, 128);
    background-color: #ff1cac;
    transition: 1s;
}

.Tool-Group-Icon {
    margin-left: 20px;
    width: 100px;
    height: 70px;
}

.Tool-Group-Title {
    margin-right: 20px;
    width: 300px;
    height: 60px;
}

.tx {
    color: #ffffff;
}